/* ------------
Labels
------------ */
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
}
/* ------------
Col
------------ */
.col-center{
	float: none!important;
	margin-right: auto!important;
	margin-left: auto!important;
}
/* ------------
Padding
------------ */
.plr-5{
	padding: 0 5%;
}
.p-8{
	padding: 8px;
}
/* ------------
Margin
------------ */
.mt-5{
	margin-top: 5px;
}
.mt-30{
	margin-top: 30px;
}
.mb-0{
	margin-bottom: 0px; 
}
.mr-10{
	margin-right: 10px; 
}

/* ------------
Heights
------------ */

.minh-400 {
	min-height: 400px!important;
}

/* ------------
Colors
------------ */
.c-white{
	color: white;
	font-weight: 100;
}
.c-blue-grey{
	color: #37474f;
}
/* ------------
border radius
------------ */
.br-2{
	border-radius: 2px;
}